* {
  box-sizing: border-box;
}

.govde {
  border: solid 3px;
}

#flex-header {
  display: flex;
  justify-content: center;
  height: 50px;
}

#flex-header > div {
  display: flex;
  border: solid;
  padding-left: 45vw;
  padding-right: 45vw;
  overflow: hidden;
}

.baslik > h2 {
  display: flex;
  height: 100%;
  white-space: nowrap;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

footer {
  background-color: rgb(213, 210, 210);
  padding: 5px;
  margin-top: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  border: solid;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
}

nav a:hover {
  border: solid;
  color: white;
  background-color: black;
  padding: 5px 10px;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.img1 {
  object-fit: fill;
  height: 500px;
  width: 100%;
}

.yazi2 {
  display: flex;
  width: 25%;
  height: 500px;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
}

.image {
  object-fit: fill;
  display: flex;
  width: 70%;
  min-width: 800px;
  align-items: center;
  justify-content: space-around;
}
.galeri {
  display: flex;
  height: 500px;
  flex-wrap: wrap;
}

.yazi1 {
  text-align: center;
}
